html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


    .pagination li {
        border-radius: 4px;
        border-color: red !important;
        border: none !important;
    }

    .pagination a {
        border-radius: 4px;
        border-color: lightgrey !important;
        border: none !important;
    }

    .pagination li a {
    }

    .pagination > li {
        border: 1px solid #ccc;
        text-decoration: none;
        padding: 5px 12px 5px 12px;
    }

        .pagination > li > a {
            text-decoration: none;
        }



    .pagination > .active {
        background-color: steelblue;
        color: #fff;
    }

.page-item:hover a {
    background-color: steelblue;
    color: #fff !important;
}

.page-item:hover {
    background-color: steelblue;
    color: #fff !important;
}
/*REPONSIVIDADE DA TABELA*/
/* para colunas das tabelas: tira as colunas de acordo com a resulução da tela*/
/*telas abaixo de 650 as colunas que estiverem com essa classe: prn-tb-reps serão removidas*/
@media screen and (max-width:650px) {
    .prn-tb-resp {
        display: none;
    }
}